<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StatusChangerForSE.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatusChangerForSE.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <StatusChangerForSE.MySettings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FormTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>100</value>
            </setting>
        </StatusChangerForSE.MySettings>
    </userSettings>
    <applicationSettings>
        <StatusChangerForSE.MySettings>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </StatusChangerForSE.MySettings>
    </applicationSettings>
</configuration>
